<% if @event_instance.errors.any? %>
  <div id="error_explanation">
    <h5>We couldn't save this event because:</h5>
    <ul>
      <% @event_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event_instance do |f| %>

  <div class="row">
    <fieldset class="fieldset">
      <legend>Event</legend>
      <%= f.label :event, "Choose an existing event" %>
      <%= f.collection_select(:event_id, @events, :id, :name, prompt: "Add year to an existing event") %>

      <p>&mdash; or &mdash;</p>

      <%= f.label :new_parent_event_name, 'Name a new event' %>
      <%= f.text_field :new_parent_event_name %>
    </fieldset>
  </div>

  <div class="row">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="row">
    <%= recaptcha_tags %>
  </div>

  <div class="row">
    <%= f.submit 'Add event' %>
  </div>
<% end %>

<p><%= link_to 'Back to Speaker Directory', speakers_path %></p>
