<h3><%= @event.name %></h3>

<h5>Proposals</h5>

<%-# Output instances, with the most recent first -%>
<% instances = @event.instances.sort_by { |i| -i.year } %>
<% instances.each do |instance| %>
  <div id="<%= @event.name.parameterize %>-<%= instance.year %>">
    <h6><%= instance.year %></h6>
    <%= render partial: 'shared/instance_submissions', locals: { instance: instance } %>
  </div>
<% end %>
