<h3>Add a submission</h3>

<%= form_for @submission, url: {action: 'create'} do |f| %>
  <%= f.hidden_field(:proposal_id, value: @proposal.id) %>
  <%= f.collection_select(:event_id, @events, :id, :name_and_year) %>
  <%= f.label(:result_accepted, "Accepted") %>
  <%= f.radio_button(:result, :accepted) %>
  <%= f.label(:result_rejected, "Rejected") %>
  <%= f.radio_button(:result, :rejected) %>
  <%= f.label(:result_waitlisted, "Waitlisted") %>
  <%= f.radio_button(:result, :waitlisted) %>
  <%= recaptcha_tags %>
  <%= f.submit "Add submission" %>
<% end %>
