<% proposals_columns = @proposals.in_groups(4, false) %>
<% if current_user %>
  <%= link_to new_proposal_path do %>
    <button class="button-add">Add proposal</button>
  <% end %>
<% else %>
  <%= link_to users_sign_in_path do %>
    <button class="button-add">Sign in to manage your Proposals</button>
  <% end %>
<% end %>

<form method="GET">
  <div class="row">
    <div class="six columns">
      <input class="u-full-width" type="text" placeholder="Title or Body" id="search" name="search" value="<%= params[:search] %>">
    </div>
    <input class="button-primary two columns" type="submit" value="Search">
  </div>
</form>

<div class="row">
  <div class="three columns">
    <% proposals_columns[0].each do |proposal| %>
      <p><%= link_to proposal.title, proposal %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% proposals_columns[1].each do |proposal| %>
      <p><%= link_to proposal.title, proposal %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% proposals_columns[2].each do |proposal| %>
      <p><%= link_to proposal.title, proposal %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% proposals_columns[3].each do |proposal| %>
      <p><%= link_to proposal.title, proposal %></p>
    <% end %>
  </div>
</div>
