<div class='row'>
  <div class="one-half column">
    <h4><%= @proposal.title %>,
      by <%= link_to @proposal.speaker.name, speaker_path(@proposal.speaker) %>
    <div class="tags">
      <% @proposal.tag_list.each do |tag| %>
        <span class="tag"><a href="/tags/<%= tag %>">#<%= tag.gsub(" ", "") %></a></span>
      <% end %>
    </div>
    </h4>

    <p><%= markdown(@proposal.body) %></p>

    <% if current_user_owns?(@proposal) %>
      <p>
        <%= link_to 'Edit proposal', edit_proposal_path(@proposal) %>
      </p>
    <% end %>
  </div>

  <div class="one-half column">
    <h4>Submissions </h4>
    <% @proposal.submissions.each do |submission| %>
      <p>
      <%= link_to submission.event_instance.name_and_year, submission.event_instance %> -
      <%= submission.result.capitalize %>
      <% if current_user_owns?(@proposal) %>
        <%= link_to '[Edit]', edit_submission_path(submission), id: 'edit-submission' %>
      <% end %>
      </p>
    <% end %>

    <% if current_user_owns?(@proposal) %>
      <%= link_to 'Add submission', new_submission_path(proposal: @proposal.id) %>
    <% end %>
  </div>
</div>
