<div class='row'>
  <div class="one-half column">
    <h3><%= @proposal.title %></h3>
    <h5><%= link_to @proposal.speaker.name, speaker_path(@proposal.speaker) %></h5>

    <p><%= markdown(@proposal.body) %></p>
  </div>

  <div class="one-half column">
    <h4>Submissions </h4>
    <% @proposal.submissions.each do |submission| %>
      <p>
        <%= link_to submission.event.name_and_year, submission.event %> -
        <%= submission.result.capitalize %>
      </p>
  <% end %>
    <%= link_to 'Add submission', new_submission_path(proposal: @proposal.id) %>
  </div>
</div>
