<% speakers_columns = @speakers.in_groups(4, false) %>
<%= link_to new_speaker_path do %>
  <button class="button-add">Add a speaker</button>
<% end %>

<div class="row">
  <div class="three columns">
    <% speakers_columns[0].each do |speaker| %>
      <p><%= link_to speaker.name, speaker %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% speakers_columns[1].each do |speaker| %>
      <p><%= link_to speaker.name, speaker %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% speakers_columns[2].each do |speaker| %>
      <p><%= link_to speaker.name, speaker %></p>
    <% end %>
  </div>
  <div class="three columns">
    <% speakers_columns[3].each do |speaker| %>
      <p><%= link_to speaker.name, speaker %></p>
    <% end %>
  </div>
</div>
