<h3>Add a speaker</h3>

<% if @speaker.errors.any? %>
  <%= render "shared/form_error_display", errors: @speaker.errors,
                                          object_type: "speaker" %>
<% end %>

<%= form_for @speaker, url: {action: 'create'} do |f| %>
  <%= f.text_field :name, placeholder: "Speaker's name" %>
  <%= recaptcha_tags %>
  <%= f.submit "Add" %>
<% end %>

<p><%= link_to 'Back to Speaker Directory', speakers_path %></p>
