<!DOCTYPE html>
<html>
  <head>
    <title>Speakerline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
       <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <p><%= link_to 'Home', speakers_path %></p>
    <p><%= link_to 'Add a speaker', new_speaker_path %></p>
    <p><%= link_to 'Add a proposal', new_proposal_path %></p>

    <%= yield %>
  </body>
</html>
