<!DOCTYPE html>
<html>
  <head>
    <title>Speakerline</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Showcasing speakers' proposals and timelines in an effort to demystify the CFP process and help new speakers get started.">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>

      <div class="navigation">
        <p><%= link_to 'Home', speakers_path %> <%= link_to 'Add a speaker', new_speaker_path %> <%= link_to 'Add a proposal', new_proposal_path %> <%= link_to 'Add an event', new_event_path %></p>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
